/* 메인 */
.main {
  max-width: 630px;
  min-width: 580px;
  padding-right: 25px;
}

.feeds {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
}

.userInfo {
  display: flex;
  justify-content: space-between;
  background-color: white;

  p:first-child {
    padding: 15px 0 12px 15px;
    font-weight: bold;
    background-color: white;
  }
  
  p:last-child {
    padding: 18px 15px 0 0;
    background-color: white;
  }
}

/* 코멘트 */
.comments {
  padding-top: 15px;
  background-color: white;

  .icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;

    p {
      background-color: white;

      button {
        background-color: white;
        padding-left: 0;
        padding-right: 0;
      }
    }

    button:last-child {
      background-color: white;
      font-size: 24px;
    }
  }

  /* 글내용 */
  .contents {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 0 15px 10px 15px;
    background-color: white;
    border-bottom: 1px solid rgb(207, 207, 207);
    

    #like {
      padding-bottom: 3px;
      font-size: 15px;
      font-weight: bold;
      padding-left: 0;
      background-color: white;
    }
  }
}

.posting {
  display: inline;
  background-color: white;

  span {
    background-color: white;
  }

  .postingId {
    font-weight: bold;
    padding-right: 7px;
  }

  .moreCtt {
    padding-left: 10px;
    color: rgb(136, 136, 136);
    font-weight: bold;
    cursor:pointer
  }
  // .clamp {
  //   display: -webkit-inline-box;
  //   width: 400px;
  //   -webkit-box-orient: vertical;
  //   -webkit-line-clamp: 2;
  //   overflow: hidden;
  // }
}

.profilPic img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}

/* 댓글 내용*/

.reply div {
  display: flex;
  background-color: white;
  font-size: 15px;

  span:first-child {
    font-weight: bold;
    background-color: white;
    padding-right: 7px;
  }

  span:last-child {
    background-color: white;
  }
}

.showAll {
  color: rgb(160, 160, 160);
  cursor: pointer;
}

/* 댓글 달기*/

.post {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 12px 15px 12px 15px;
  
  input, button {
    background-color: white;
    border-style: none;
    font-size: 14px;
    
  }

  input {
    width: 92%;
    outline: none;
  }
  button {
    width: 8%;
    font-weight: bold;
    padding-right: 0;
    color:rgb(42, 163, 255);
  }

}

.commentsIcon {
  font-size: 24px;
  margin-right: 15px;
  background-color: white;
}

