/* 스토리 */
.story {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
  padding: 4px 5px 13px 5px;
  overflow: scroll;
  -ms-overflow-style: none;

  .scroll {
      padding-left: 2px;
      padding-right: 2px;
      cursor: pointer;
  }

  div {
    background-color: white;
    margin: 5px 5px 3px 5px;

    p {
      background-color: white;
      width: 62px;
      height: 16px;
      text-align: center;
      margin: 0 auto;
      padding-top: 2px;
    }
  }
}

/* 스크롤바 숨김 */
.story::-webkit-scrollbar{ display:none; }

/* 화살표 */


/* 이미지(테두리 + 이미지)*/
.storyImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  background-color: white;
}

.storyPic img{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: relative;
  
}

.storyImgBorder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(-120deg, rgb(203, 0, 142) 50%, rgb(255, 162, 0) 80%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: absolute;
}


